
.dialogify-input {

  .uify-dialog-content {

    & > .comment {
      text-align: center;
      padding-bottom: 1em;
      font-family: @basefont;
      font-size: 1.5em;
    }

    & > .inputify_container {
      min-width: 45vw;
    }

  }
}
